body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.list_clothes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 50px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    position: relative;
}

.list img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.list h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
    position: absolute;
    top:86%;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    border: solid rgba(255, 99, 71, 0.2);
}

.list h3:hover {
    color: #fff;
    background-color: #ff6347;
}

.list_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #ff6347;
    border-radius: 50%;
    color: #ff6347;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 10;
}

.list_arrow:hover {
    background-color: #ff6347;
    color: #fff;
}

.list_begin {
    left: 10px;
}

.list_begin_end {
    right: 10px;
}