body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    margin-top: 50px;
}
.around {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.around_one {
    position: relative;
}

.around h3 {
    border: 2px solid rgba(255, 99, 71, 0.2);
    text-align: center;
    padding: 14px;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 48px;
}
.around h3:hover{
    color: #ffffff;
    background-color: #ff6347;
}

.big, .small {
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 99, 71, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    box-shadow: 0px 2px 4px #ff6347, 0px 2px 10px #c64c36;
}

.big {
    left: 0;
    z-index:1;
    cursor: pointer;
    color:#ff6347;
}

.small {
    right: 0;
    z-index:1;
    cursor: pointer;
    color:#ff6347 ;
}
del{
    color: #c2c1c1 !important;
}
.improt.active {
    font-weight: bold;
    background-color: #ff6347 !important;
    color: #ffffff !important;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.comunicate div {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
