@import url('front.css');
@import url('responsible.css');
@import url('valiable.css');

html, body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.all-product{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.all-picture-product{
    flex: 3;
}
.all-listProduct{
    flex: 1;
}