section {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.contain{
    flex: 3;
}
.tooblar{
    flex: 1;
}
h2{
    margin-bottom: 20px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.top div {
    display: flex;
    align-items: center;
}

.finel {
    position: relative; 
    display: flex;
    flex-direction: column;
}

.finel button {
    border: 1px solid #c5c2c2;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    background-color: #fff;
}

.finel ul {
    border: 1px solid #b9b7b7;
    border-radius: 10px;
    margin: 10px 0 0;
    padding: 0;
    display: none; 
    position: absolute;
    background-color: #fff;
    width: 120px;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    top: 30px;
}

.finel ul li {
    padding: 4px;
    list-style: none;
    cursor: pointer;
    border-radius: 10px;
}

.finel ul li:hover {
    background-color: #ff6347;
    color: #ffffff;
}

.finel:hover ul {
    display: block;
    position: absolute;
}

.table{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.imge{
    background-size: cover;
    height: 400px;
    position: relative;
    border-radius: 10px;
}

.tron{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.tron:hover{
    color: #ffffff;
    background-color: #ff6347;
}
.can{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}
h4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.imge button {
    position: absolute;
    top: 90%;
    left: 26%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: none;
}

.imge button:hover {
    color: #ffffff;
    background-color: #ff6347;
}

.imge:hover button {
    display: inline-block;
    top: 80%;
    transition: top 1s ease, background-color 1s ease; 
}

.imge:hover .can{
    display: inline-block;
}

.help0{
    background-image: url(../spGril/sp1-4-ba1c4d0e-d23a-406e-9c3e-15f4ed2dac6e.webp);
}
.help0:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp1-eb7d6df8-76b2-42e8-849a-11c363c09695.webp);
}
.help1{
    background-image: url(../spGril/sp2-2-65effe83-351e-4261-97a9-28bfc9aa6d83.webp);
}
.help1:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp2-ffe1c9a1-2f7f-4848-a868-10f02aa00824.webp);
}
.help2{
    background-image: url(../spGril/sp2-5-9a379524-7b69-4bcb-a49d-9bf90040bca7.webp);
}
.help2:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp2-6-edab2c49-8c75-4344-b3e4-84c90a5d211a.webp);
}
.help3{
    background-image: url(../spGril/sp3-09851ea2-f541-42f7-a962-2c02055d85df.webp);
}
.help3:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp3-2-c140d0a9-b56c-4166-8f5b-3da0c917eba6.webp);
}
/* hình ảnh 4 */
.help4{
    background-image: url(../spGril/sp3-8caa27d9-529b-4401-8100-81d1a9897e29.webp);
}
.help4:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp3-4-9a862a85-3d84-4806-bd56-dc3218b5259e.webp);
}
/* hình ảnh 5 */
.help5{
    background-image: url(../spGril/sp4-42c05fcb-8489-4a48-8de0-b7a029de6b38.webp);
}
.help5:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp4-2-ae406784-4fe5-426e-bf10-5e884a86ada9.webp);
}
/* hình ảnh 6 */
.help6{
    background-image: url(../spGril/sp5-3-89d36e7b-ea48-4b24-875e-a43a374a34be.webp);
}
.help6:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp5-2-75657af6-6df6-41c1-8188-9d75a667e1af.webp);
}
/* hình ảnh 7*/
.help7{
    background-image: url(../spGril/sp6-4-d2d36b00-f058-45fb-b5b1-487a5bb97f06.webp);
}
.help7:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp6-5-bb38dbce-8efa-4a6c-95b6-684081454564.webp);
}
/* hình ảnh 8 */
.help8{
    background-image: url(../spGril/sp6-5.webp);
}
.help8:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp6-2.webp);
}
/* hình ảnh 9 */
.help9{
    background-image: url(../spGril/sp8-2-b6da4946-d566-436c-bb78-02b179755959.webp);
}
.help9:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp8-4069b06d-4ec4-4029-9124-ef50cbd0cbd9.webp);
}
/* hình ảnh 10 */
.help10{
    background-image: url(../spGril/sp2-4-b7157267-7641-4ddb-9121-7a7026c92dae.webp);
}
.help10:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp2-5-c9d8800f-9411-4eca-8279-6051ec0c9f2a.webp);
}
/* hình ảnh 11 */
.help11{
    background-image: url(../spGril/sp2-4-e4fe0854-3acf-4453-9311-dbea0b020d13.webp);
}
.help11:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp2-5.webp);
}
/* hình ảnh 12 */
.help12{
    background-image: url(../spGril/sp2-2-a0b8f293-65d0-481e-bc6e-56a566f5a8c9.webp);
}
.help12:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp2-3-caaddefd-dc09-4e03-a7e7-ab52a4125fa4.webp);
}


.size_top{
    display: flex;
    justify-content: space-between;
}
.size_top span{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.size-contain{
    display: flex;
    flex-direction: column;
}
.size-contain div{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.size-contain div a{
    padding: 10px;
    border: solid #b9b7b7 ;
    border-radius: 5px;
}
.size-contain div a:hover{
    background-color: #ff6347;
    color: #ffffff;
}
/* Ẩn danh sách màu ban đầu */
.color-list {
    display: block;
}

/* Xoay biểu tượng 180 độ */
.menu_color span.rotate {
    transform: rotate(180deg);
    color: #ff6347;
    transition: transform 0.3s, color 0.3s;
}

/* Hiển thị danh sách màu */
.color-list.show {
    display: none;
}
.comunicate{
    display: flex;
    gap: 10px;
}
.comunicate div{
    width: 30px;
    height: 30px;
    border: solid #c5c2c2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.comunicate div:hover{
    background-color: #ff6347;
    color: #ffffff;
}
hr{
    height: 2px;
    border: none;
    background-color: #ff6347;
    color: #ff6347;
}