@import 'font.css';
@import 'variable.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

/* header */
header{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
header .header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 1300px;
    margin: 0px auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

header .header-1 .logo-1 {
    height: 100%;
}

header .header-1 .logo-1 img {
    height: 100%;
}

header .header-1 .box-search{
    display: flex;
    padding: 6px;
    border-radius: 30px;
    background-color: #FAF4F1;
    
}

header .header-1 .box-search input {
    width: 600px;
    background-color: #FAF4F1;
    height: 48x;
    border: none;
    padding-left: 12px;
}
header .header-1 .box-search input:focus{
    outline: none;
    border: none;
}

header .header-1 .box-search button{
    background-color: var(--main-color);
    padding: 6px 7px;
    border-radius: 30px;
    border: none;
}
header .header-1 .box-search button i{
    color: white;
}

header .header-1 .box-search button:hover{
    background-color:#dfa372;
}

header .header-1 .menu-right {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
}

header .header-1 .menu-right div{
    text-align: center;
}
header .header-1 .menu-right div a{
    text-decoration: none;
    color: black;
}

header .header-1 .menu-right a:hover{
    color: var(--main-color);
}

header .header-1 .menu-right .button-menu-right{
    height: 100%;
}

header .header-1 .menu-right div a i{
    color: var(--main-color);
    font-size:24px ;
}
header .header-2{
    width: 1300px;
    margin: 0px auto;
    height: 32px;
}

header .header-2 .menu {
    display: flex;
    gap: 24px;
    list-style: none;
    height: 100%;
}

header .header-2 .menu li a{
    color: black;
    text-decoration: none;
}
header .header-2 .menu .main-menu{
    position: relative;
}

header .header-2 .menu .main-menu .sub-menu{
    position: absolute;
    display: flex;
    gap: 20px;
    padding: 10px;
    width: max-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    list-style: none;
    top: 32px;
    display: none;
}

header .header-2 .menu .main-menu .sub-menu li ul{
    list-style: none;
}
header .header-2 .menu .main-menu:hover .sub-menu{
    display: flex;
}
header .header-2 .menu .main-menu .sub-menu li ul li .title-sub-menu{
    font-weight: 600;
    margin-bottom: 20px;
}
header .header-2 .menu li {
    height: 100%;
    width: max-content;
}

header .header-2 .menu .main-menu .sub-menu-sp {
    list-style: none;
    display: none;
    position: absolute;
    top: 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 6px;
}

header .header-2 .menu .main-menu:hover .sub-menu-sp{
    display: block;
}

