@import 'font.css';
@import 'variable.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

/* header */
header {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

header .header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 1300px;
    margin: 0px auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

header .header-1 .logo-1 {
    height: 100%;
}

header .header-1 .logo-1 img {
    height: 100%;
}

header .header-1 .box-search {
    display: flex;
    padding: 6px;
    border-radius: 30px;
    background-color: #FAF4F1;

}

header .header-1 .box-search input {
    width: 600px;
    background-color: #FAF4F1;
    height: 48x;
    border: none;
    padding-left: 12px;
}

header .header-1 .box-search input:focus {
    outline: none;
    border: none;
}

header .header-1 .box-search button {
    background-color: var(--main-color);
    padding: 6px 7px;
    border-radius: 30px;
    border: none;
}

header .header-1 .box-search button i {
    color: white;
}

header .header-1 .box-search button:hover {
    background-color: #dfa372;
}

header .header-1 .menu-right {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
}

header .header-1 .menu-right div {
    text-align: center;
}

header .header-1 .menu-right div a {
    text-decoration: none;
    color: black;
}

header .header-1 .menu-right a:hover {
    color: var(--main-color);
}

header .header-1 .menu-right .button-menu-right {
    height: 100%;
}

header .header-1 .menu-right div a i {
    color: var(--main-color);
    font-size: 24px;
}

header .header-2 {
    width: 1300px;
    margin: 0px auto;
    height: 32px;
}

header .header-2 .menu {
    display: flex;
    gap: 24px;
    list-style: none;
    height: 100%;
}

header .header-2 .menu li a {
    color: black;
    text-decoration: none;
}

header .header-2 .menu .main-menu {
    position: relative;
}

header .header-2 .menu .main-menu .sub-menu {
    position: absolute;
    display: flex;
    gap: 20px;
    padding: 10px;
    width: max-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    list-style: none;
    top: 32px;
    display: none;
    z-index: 1;
    background-color: white;
}

header .header-2 .menu .main-menu .sub-menu li ul {
    list-style: none;
}

header .header-2 .menu .main-menu:hover .sub-menu {
    display: flex;
}

header .header-2 .menu .main-menu .sub-menu li ul li .title-sub-menu {
    font-weight: 600;
    margin-bottom: 20px;
}

header .header-2 .menu li {
    height: 100%;
    width: max-content;
}

header .header-2 .menu .main-menu .sub-menu-sp {
    list-style: none;
    display: none;
    position: absolute;
    top: 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 6px;
    z-index: 1;
    background-color: white;
}

header .header-2 .menu .main-menu:hover .sub-menu-sp {
    display: block;
}

header .header-2 .menu li:hover .title-main-menu {
    color: var(--main-color);
}

/* page-1 */

.page-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.page-1 .content-page-1 {
    margin: 0 auto;
    width: 100%;
}

.page-1 .content-page-1 img {
    /* margin: 0 auto; */
    width: 100%;
    max-width: 100%;
    height: max-content;

}

.page-1 .content-page-1 .box {
    display: flex;
    position: absolute;
    gap: 32px;
    width: max-content;
    bottom: -72px;
    left: 50%;
    transform: translateX(-50%);
    padding: 42px;
    background-color: white;
    height: max-content;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.page-1 .content-page-1 .box .item-box img {
    height: 48px;
    width: 48px;

}

.page-1 .content-page-1 .box .item-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.page-1 .content-page-1 .box .item-box .text p:first-child {
    font-weight: 700;
}

/* PAGE-2 */
.page-2 {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.page-2 .container-page-2 {
    display: grid;
    grid-template-columns: repeat(4, 16fr);
    grid-template-rows: repeat(2, 200px);
    justify-items: center;
    gap: 32px 0px;
}

.page-2 .container-page-2 .item {
    text-align: center;
}

.product {
    text-align: center;
    width: max-content;
    text-align: center;
    background-color: white;
    padding: 8px 24px;
    border: 2px solid #FFE0DA;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -20px;
    position: relative;
}

.product a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.product:hover a {
    color: var(--main-color);
}


.block-title {
    margin: 60px 0px;
}

.block-title h2 {
    text-align: center;
    margin-bottom: 42px;
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    position: relative;
    color: var(--main-color);
    text-transform: uppercase;
}

.block-title h2:after {
    content: "";
    background-color: var(--main-color);
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
}

.block-title h2 span {
    background-color: white;
    z-index: 9;
    padding: 0 68px;
    position: relative;
}

.block-title h2 a:after {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--mainColor);
    position: absolute;
    right: 0;
    top: 16px;
    transform: rotate(-45deg);
}

.voucher {
    display: flex;
    justify-content: space-around;
}

/* banner */

.banner-flash {
    padding: 42px 0px;
    background-image: url("https://bizweb.dktcdn.net/100/534/571/themes/972900/assets/bg-flash-sale.jpg?1735139321674");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-flash .title h1 {
    text-align: center;
    margin-bottom: 32px;
    color: #FDEACD;
    font-size: 48px;
}

.banner-flash .item-flash {
    display: flex;
}

.container_banner{
    width: 1300px;
}


.card-list{
    display: flex;
    align-items: center;
    gap: 0 10px;
    justify-content: center;
}

.card-link{
    user-select: none;
    display: block;
}

.item-flash .item {
    width: 296px;
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
}

.card-list .item_card {
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
    width:296px;
}

.item-flash .item a img {
    border-radius: 18px;
    width: 100%;
    margin-bottom: 16px;
}

.item-flash .item .navigation-button {
    margin-top: 10px;
}

.item-flash .item .navigation-button a img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    object-fit: scale-down;

}

.card-list .item_card .navigation-button a img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    object-fit: scale-down;

}

.item-flash .item .navigation-button a img {
    background-image: url(/assets/img/sp3-5-77cd757d-c5cb-4c38-afa9-ccd0c42b16d5.webp);
    background-size: cover;
}

.card-list .item_card .navigation-button a img {
    background-image: url(/assets/img/sp3-5-77cd757d-c5cb-4c38-afa9-ccd0c42b16d5.webp);
    background-size: cover;
    margin-left: 10px;
    margin-bottom: 8px;
}


.item-flash .item p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-list .item_card p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 12px;
}

.item-flash .item .price p {
    font-size: 18px;
    color: var(--main-color);
}

.card-list .item_card .price p {
    font-size: 18px;
    color: var(--main-color);
}

.banner-flash .button {
    width: max-content;
    margin: 0 auto;
}

.banner-flash button {
    border-radius: 12px;
    background-color: #FCF4C6;
    color: var(--main-color);
    font-size: 18px;
    border: none;
    margin-top: 20px;
    padding: 18px 26px;

}

.banner-flash .button a button i {
    font-size: 20px;
}

.hover-zoom {
    transition: transform 0.7S ease-in-out;
    height: 390px;
}

.hover-zoom:hover {
    transform: scale(1.08);
}

/* page-3 */

.page-3 .menu {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

.page-3 .menu .mainmenu {
    display: flex;
    gap: 20px;
}

.page-3 .menu .mainmenu .item-mainmenu {
    list-style: none;
}

.page-3 .menu .mainmenu .item-mainmenu a {
    color: rgba(43, 47, 51, 0.6);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.page-3 .menu .mainmenu .item-mainmenu a:hover {
    color: var(--main-color);
    text-decoration: underline var(--main-color);
}

.page-3 .list-product{
    display: grid;
    grid-template-columns: repeat(4, 16fr);
    justify-items: center;
}

.banner-page-3{
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

.bannerright-page3{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    gap: 30px;
}

.bannerright-page3 img:first-child{
    grid-column: 1/3;
}

/* LINE-END */

.line-end{
    border-top: 1px solid var(--main-color);
}
.line-end .line-width{
    display: flex;
    gap: 0px 30px;
    width: 1300px;
    margin: 0 auto;
    justify-content:space-between;
}

.line-end .line-width .left .logo{
    width: 362px;
    padding: 24px 0px;
    background-color: var(--main-color);
    text-align: center;
    border-bottom: 2px dashed white;
    
}

.line-end .line-width .left .social{
    width: 362px;
    padding: 24px 0px;
    background-color: var(--main-color);
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.line-end .left .social p{
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}
.line-end .left .social i{
    font-size: 24px;
    margin: 0px 6px;
}

.item-line-end-right{
    margin-top: 24px;
    width: 30%;
}

.item-line-end-right h4{
    margin-bottom: 20px;
}
.item-line-end-right p{
    margin-bottom: 14px;
}
.item-line-end-right p span{
    font-weight: 600;
}

.item-line-end-right a{
    color: black;
    text-decoration: none;
    display: block;
}

.item-line-end-right a:hover{
    color: var(--main-color);
}



/* UPDATE_STYLE */

.update_style{
    width: 1300px;
    margin: 0 auto;
}

.item_update_style{

    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(2,max-content);
    gap: 30px;
    margin-bottom: 28px;
}

.update_style .button {
   text-align: center;
   margin-bottom: 80px;
}
.update_style .button a button{
    width: max-content;
    padding: 12px 25px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius:12px;
    font-weight: 400;
}

.update_style .button a button span{
    font-size: 20px;
}

.update_style .button a button i{
    font-size: 20px;
}

/* NEW */
.news{
    width: 1300px;
    margin: 0 auto;
}

.news .content{
    display: flex;
    justify-content: space-around
}

.news .content .item_left{
    width: 620px;
}

.news .content .item_right{
    width: 620px;
}

.news .content .img{
    width: 590px;
    overflow: hidden;
    border-radius: 12px;
}

.news .content .item_left .img img{
    width: 100%;
    height: 376px;
}
.news .content .item_right .img img{
    width: 100%;
}
.hz_1 {
    transition: transform 0.7s ease-in-out;
}

.hz_1:hover {
    transform: scale(1.08);
}

.news .content .item_right img{
    object-fit: cover;
}

.news .content .item_right .item_1 .img_2{
    width: 200px;
    height: 112px;
    overflow: hidden;
    border-radius: 12px;
}
.news .content .item_right .item_1 .img_2 img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.news .content .item_right .item_1 .infor{
    display: flex;
    width: max-content;
    gap: 0px 20px;
    margin-bottom: 12px;
}

.item_right_infor{
    margin-left: 12px;
}

.news .content .item_right .item_1{
    display: flex;
    margin-top: 16px;
}

.item_right_infor{
    margin-left: 12px;
}

.item_right_infor a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.news .content .item_left .infor{
    display: flex;
    gap: 0px 20px;
    margin-bottom: 12px;
}

/* ACCESSORY */
.accessory{
    width: 1300px;
    margin: 0 auto;
}
.accessory .list-product{
    display: grid;
    grid-template-columns: repeat(4,max-content);
    grid-template-rows: repeat(2,max-content);
    justify-content: space-between;
}

/* PAGE-4 */

.page-4{
    width: 1300px;
    margin: 0 auto;
}
.content_nam{
    width: 758px;
    display: flex;
    justify-content: space-betweens;
}
.card_nam_list{
    list-style: none;
    display: flex;
}
.card_nam_link{
    text-decoration: none;
    user-select: none;
}
.img_card_nam{
    width: 222px;
    height: 294px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 10px;
}
.img_card_nam img{
    width: 100%;
    height: 100%;
    border-radius: 12px; 
}

.info_card_nam p{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-top: 34px;
}

.info_card_nam .price p{
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
    margin-top: 10px;
}

.hover_zoom_nam{
    transition: transform 0.7s ease-in-out;
}

.hover_zoom_nam:hover{
    transform: scale(1.08);
}

.swiper-button-prev{
    color: black;
}

.but_nam{
    margin-top: 50px;
    text-align: center;
}
.but_nam button{
    padding: 14px 25px;
    color: white;
    font-size: 16px;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    font-weight: 500;
}