.dis{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.ban{
    display: flex;
    justify-content: center;
    background-color: rgb(220, 223, 226);
}
.rad{
    border: 2px solid #399;
    border-radius: 50%;
    color: #399;
    font-size: 28px;
    display: inline-block;
    height: 71px;
    line-height: 78px;
    margin-bottom: 15px;
    text-align: center;
    width: 71px;
}