section {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.contain{
    flex: 3;
}
.tooblar{
    flex: 1;
}
h2{
    margin-bottom: 20px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.top div {
    display: flex;
    align-items: center;
}

.finel {
    position: relative; 
    display: flex;
    flex-direction: column;
}

.finel button {
    border: 1px solid #c5c2c2;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    background-color: #fff;
}

.finel ul {
    border: 1px solid #b9b7b7;
    border-radius: 10px;
    margin: 10px 0 0;
    padding: 0;
    display: none; 
    position: absolute;
    background-color: #fff;
    width: 120px;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    top: 30px;
}

.finel ul li {
    padding: 4px;
    list-style: none;
    cursor: pointer;
    border-radius: 10px;
}

.finel ul li:hover {
    background-color: #ff6347;
    color: #ffffff;
}

.finel:hover ul {
    display: block;
    position: absolute;
}

.table{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.imge{
    background-size: cover;
    height: 400px;
    position: relative;
    border-radius: 10px;
}

.tron{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.tron:hover{
    color: #ffffff;
    background-color: #ff6347;
}
.can{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}
h4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.imge button {
    position: absolute;
    top: 90%;
    left: 26%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: none;
}

.imge button:hover {
    color: #ffffff;
    background-color: #ff6347;
}

.imge:hover button {
    display: inline-block;
    top: 80%;
    transition: top 1s ease, background-color 1s ease; 
}

.imge:hover .can{
    display: inline-block;
}

.help0{
    background-image: url(../spGril/sp1-2-994d2b9b-4bd3-4498-b1c5-377d7dda8b67.webp);
}
.help0:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp1-42662c1d-db5b-4b24-90f0-5c99e9d904e8.webp);
}
.help1{
    background-image: url(../spGril/sp2-0f2d71f7-df2d-4dcf-a86c-9f931835aab5.webp);
}
.help1:hover{
    transition: 0.5s;
    background-image: url(../spGril/sp2-2-fde09577-feb4-47ee-9881-8ced01eca8a3.webp);
}

.size_top{
    display: flex;
    justify-content: space-between;
}
.size_top span{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.size-contain{
    display: flex;
    flex-direction: column;
}
.size-contain div{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.size-contain div a{
    padding: 10px;
    border: solid #b9b7b7 ;
    border-radius: 5px;
}
.size-contain div a:hover{
    background-color: #ff6347;
    color: #ffffff;
}
/* Ẩn danh sách màu ban đầu */
.color-list {
    display: block;
}

/* Xoay biểu tượng 180 độ */
.menu_color span.rotate {
    transform: rotate(180deg);
    color: #ff6347;
    transition: transform 0.3s, color 0.3s;
}

/* Hiển thị danh sách màu */
.color-list.show {
    display: none;
}
.comunicate{
    display: flex;
    gap: 10px;
}
.comunicate div{
    width: 30px;
    height: 30px;
    border: solid #c5c2c2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.comunicate div:hover{
    background-color: #ff6347;
    color: #ffffff;
}
hr{
    height: 2px;
    border: none;
    background-color: #ff6347;
    color: #ff6347;
}