html,body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(137, 139, 140);
}

a {
    text-decoration: none !important;
}

.login-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    background-color: rgb(148, 207, 230);
    margin: 50px;
}

.up {
    display: flex;
    gap: 20px;
}

.up div a {
    background-color: rgb(137, 139, 140);
    padding: 20px;
    color: aliceblue;
    list-style-type: none;
}

.up div a i {
    padding: 10px;
    margin: 4px;
    background-color: black;
    border-radius: 50%;
}

.login-up input {
    padding: 20px;
}

.login {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login div {
    padding: 20px;
    background-color: rgb(68, 163, 203);
}

.login div:hover {
    background-color: rgb(56, 132, 165);
}

.notification {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: -300px;
    gap: 20px;
}

.noti {
    display: flex;
    gap: 20px;
    border: 2px solid #6e6d6d;
    padding: 20px;
    opacity: 1;
    transition: opacity 3s ease-in-out;
    background-color: aliceblue;
}

.red {
    color: red;
}

.green {
    color: greenyellow;
}

.noti.fade-out {
    opacity: 0;
}

@media only screen and (max-width: 600px) {

    .up div {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 20px;
    }

    .up div a {
        background-color: rgb(137, 139, 140);
        padding: 10px;
        color: aliceblue;
        list-style-type: none;
        max-width: 50px;
        margin: auto;
    }
    .login-up input {
        padding: 10px;
    }
    .login div {
        padding: 10px;
        background-color: rgb(68, 163, 203);
    }
    
}