header{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.head_one{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(banner.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4% 4% 4% 4% ;
    box-sizing: border-box;
}
.one_start{
    display: flex;
    justify-content: space-between;
}
.start_one{
    display: flex;
    gap: 40px;
    color: aliceblue;
    padding-top: 24px;
}
.one_end{
    margin-right: 40%;
    font-size: 20px;
    color: aliceblue;
}
 

.head_two{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.two_header{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 10%;
    margin-right: 10%;
}
.two_header div{
    border-radius: 20px;
    border: 2px solid #9d9b9b ;
    padding: 20px 20px 20px 20px ;
    box-sizing: border-box;
}
.two_header div img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.head_three{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.item1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border: 2px solid #9d9b9b;
    border-radius: 10px;
    padding-top: 20px;
}
.item2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    border: 2px solid #9d9b9b;
    border-radius: 10px;
    padding-top: 20px;
}
.item3{
    grid-column: 5 / -1;
    grid-row: 1 / 2;
    border: 2px solid #9d9b9b;
    border-radius: 10px;
    padding-top: 20px;
}
.item4{
    grid-column: 2 / 4;
    grid-row: 2 / -1;
    border: 2px solid #9d9b9b;
    border-radius: 10px;
    padding-top: 20px;
}
.item5{
    grid-column: 4 / 6;
    grid-row: 2 / -1;
    border: 2px solid #9d9b9b;
    border-radius: 10px;
    padding-top: 20px;
}


.head_four{
    display: flex;
}
.head_four div{
    width: 50%;
    height: 400px;
}
.ban{
    background-image: url(about-us.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.four_header{
    background-color: #333333;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;
}
.header_than{
    display: flex;
}


.head_five{
    height: 450px;
    padding-right: 10%;
    padding-left: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.head_four .head_five{
    width: 30%;
} 
.ban_one img{
    border-radius: 10px;
}



.head_six{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    margin-left: 6%;
    margin-right: 6%;
}
.box_one{
    border-radius: 10px;
    border: 2px solid #9d9b9b;
    width: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.box h4{
    margin-top: 10px;
    margin-bottom: 10px;
}