html, body{
    margin: 0;
    padding: 0;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 14px;
    background-color: #f4edeb;
}
.head{
    display: flex;
    gap: 10px;
}
.head_one{
    flex: 7;
}
.head_two{
    flex: 3;
}
.two_col{
    border: 4px solid #cf9919;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.one_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.box_one{
    border:4px solid #a7d716;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
}
button{
    width: 60%;
    border-radius: 20px;
    font-size: 18px;
}
.item{
    color: #c9b6b3;
}
.item_one{
    color: #c73a0f;
}
h4{
    margin: 0;
    padding: 0;
    color: #87635a;
    font-size: 16px;
}
p{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
img{
    width: 100%;
    height: 60%;
}
.between{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
}
button:hover{
    background-color: #cb4f9e;
}
.cart-total {
    font-size: 22px;
    font-weight: bold;
    color: #cf9919;
    margin-top: 20px; /* Thêm khoảng cách giữa tổng tiền và các mục khác */
    text-align: right;
}
.can{
    display: flex;
    border-radius: 20px;
    border: 2px solid #87635a;
    width: 50%;
    background-color: #87635a;
    justify-content: space-between;
}
.can button{
    width: 20%;
}
.can span{
    background-color: #cf9919;
    color: #c73a0f;
    width: 20%;
    display: flex;
    justify-content: center;
}
.dri{
    display: flex;
    justify-content: space-between;
}